@media screen and (max-width: 320px) {
    .centered-content {
        margin: 0 auto;
        width: 20rem;
    }
    .top-nav {
        display: none;
        justify-content: space-between;
        align-items: center;
        background-color: #efefef;
        height: 2rem;
        font-size: 0.8rem;
        padding: 0 2.   5rem;
    }
    
}